.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

body{
  background-image: url(https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63616.jpg?t=st=1734450768~exp=1734454368~hmac=d4fd20d0cc49c55d0d606f362b3bedfba4e7c94e3aabe51b33cc43ece985d4f0&w=1380);
  /* background-image: url(https://img.freepik.com/free-vector/blank-blue-halftone-background_53876-114592.jpg?t=st=1734451214~exp=1734454814~hmac=4fccb90dbadf0a5c3048e4041793fd179ca964457e56d077865cae9829acd074&w=996); */
  /* background-image: url(https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8312.jpg?t=st=1734451392~exp=1734454992~hmac=6e752b0c381a0cfb13f2db1346c4ee9c36fd6d00d70db5656e11bfb3399d43d5&w=996); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  background-color: rgb(242 242 250);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, [role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}


::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;

  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}