.input-container {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 14px;
}
.input-box-shadow {
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.903);
}
.input-container input {
  width: 400px;
  height: 30px;
  background-color: transparent;
  padding-left: 5px;
  border-bottom: 2px solid hsl(235.93deg 25.54% 45.29%);
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.input-container input:hover,
.input-container input:focus,
.input-container input.typing {
  box-shadow: 0px 6px 11px -4px hsla(236, 26%, 45%, 0.479);
}

.input-container button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 130px;
  height: 30px;
  background-color: hsl(6.53deg 80.33% 64.12%);
  color: white;
  font-weight: 500;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

.input-container button:hover {
  box-shadow: hsla(7, 80%, 64%, 0.552) 0px 7px 29px 0px;
  transform: scale(1.01);
}

.wallpaper-container {
  position: absolute;
  right: -2.9rem;
  width: fit-content;
  height: 2.5rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 100px;
  transition: height 1s ease;
  transition: display 0.5s ease;
}

.wallpaper-block {
  display: none;
}

.wallpaper-container.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 17rem;
  transition: 1s;
}

.wallpaper-block.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wallpaper-block-img {
  transition: transform 0.5s ease-in;
  transition: transform 0.4s ease-out;
}
.wallpaper-block-img:hover {
  transform: scale(1.5);
}

.wallpaper-container img:first-child:hover {
  box-shadow: rgba(48, 48, 48, 0.24) 0px 6px 15px;
}

.wallpaper-container:hover {
  box-shadow: rgba(48, 48, 48, 0.24) 0px 6px 15px;
  transition: 0.1s;
}

.wallpaper-block img:hover {
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.318) 0px 0px 15px;
}