.task-main-container {
  height: fit-content;
}

.todo-container {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  margin-bottom: 15rem;
}

.todo-container {
  overflow: visible; /* Allow the shadow to render outside the parent */
}

.description-container {
  border-bottom: 2px solid rgb(179, 179, 179);
  border-right: 2px solid rgb(179, 179, 179);
  border-left: 2px solid rgb(179, 179, 179);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background: rgb(219, 219, 219);
  padding: 20px;
  display: none;
}

.todo-container h1 {
  font-size: large;
  font-weight: 700;
  margin: 20px 1rem;
}

.sections-names {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: #dbdbdb;
  color: #868886;
  display: grid;
  grid-template-columns: 2fr 1fr 0.7fr;
}

.task-container {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1.1fr 0.7fr;
  width: 100%;
  min-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 1px 2px;
  position: relative;
}
.task-container:last-child {
  border-radius: 1rem;
  background: #0e2f5d;
}
.task-description-icon {
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  bottom: 50%;
  right: -1.5rem;
  transform: translate(50%, 50%);
  display: none;
}
.task-description-icon img:first-child {
  width: 1.5rem;
}

.task-container:last-child {
  border-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 1px 2px;
}

.textName {
  width: max-content;
  max-width: 20rem;
  word-wrap: break-word;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.empty-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: rgb(107, 107, 107);
  background-color: #f5f5f5;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.empty-task-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}

.empty-task-container img:nth-child(2){
  position: absolute;
  right: 2rem;
  bottom: -2.5rem;
  rotate: 36deg;
  width: 3.6rem;
}

.empty-task-container img:nth-child(3) {
  width: 2rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
.delete-icon-box {
  width: 1.5rem;
  cursor: pointer;
}

.task-status {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  height: fit-content;
  cursor: pointer;
}
.task-status.to-do {
  background-color: #61a0f8;
  color: #0e2f5d;
}
.task-status.pending {
  background-color: #8974f2;
  color: #352C63;
}
.task-status.done {
  background-color: #53ca12;
  color: #37471F;
}

.status-option-box {
  background: #dbdbdb;
  width: fit-content;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-item {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  height: fit-content;
  cursor: pointer;
}

.status-item:nth-child(1) {
  background-color: #53ca12;
  color: #37471F;
}
.status-item:nth-child(2) {
  background-color: #8974f2;
  color: #352C63;
}
.status-item:nth-child(3) {
  background-color: #61a0f8;
  color: #0e2f5d;
}

.status-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.task-status-box.active {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: fit-content;
  height: fit-content;
  padding: 7px 5px;
  border-radius: 5px;
  background: #d8d8d8;
}

#taskList {
  border-radius: 1rem;
}
#taskList:last-child {
  border-radius: 1rem;
}
